<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href= "../css/lelang.css">
    <link rel="stylesheet" type="text/css" href="{{asset('awesome/css/all.min.css')}}">
    <title>Lelang | MASeKO</title>
  </head>
  <body>

<x-navbar></x-navbar>

    
    <!-- Breadcrumb -->
    <div class="container">
      <nav aria-label="breadcrumb" style="background-color: #fff;" class="mt-2">
      <ol class="breadcrumb p-3">
        <li class="breadcrumb-item"><a href="../pages/market.html" class="text-decoration-none">Market</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lelang</li>
      </ol>
    </nav>
    </div>
    <!-- End Breadcrumb -->

    <!-- Produk -->
    <div class="container mt-2">
      <div class="judul-produk" style="background-color: #fff; padding: 5px 10px">
        <h5 class="text-center mt-2">Lelang Produk</h5>
      </div>
     <div class="row" style="justify-content: space-around;">
        <div class="card text-center mt-2" style="width: 18rem;">
          <img src="../foto/produk/produk.jpg" class="card-img-top mt-2" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nama Produk</h5>
            <p class="card-text">Alamat Produk</p>
            <a href="#" class="btn">Ikut Lelang</a>
          </div>
        </div>

        <div class="card text-center mt-2" style="width: 18rem;">
          <img src="../foto/produk/produk.jpg" class="card-img-top mt-2" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nama Produk</h5>
            <p class="card-text">Alamat Produk</p>
            <a href="#" class="btn">Ikut Lelang</a>
          </div>
        </div>

        <div class="card text-center mt-2" style="width: 18rem;">
          <img src="../foto/produk/produk.jpg" class="card-img-top mt-2" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nama Produk</h5>
            <p class="card-text">Alamat Produk</p>
            <a href="#" class="btn">Ikut Lelang</a>
          </div>
        </div>

        <div class="card text-center mt-2" style="width: 18rem;">
          <img src="../foto/produk/produk.jpg" class="card-img-top mt-2" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nama Produk</h5>
            <p class="card-text">Alamat Produk</p>
            <a href="#" class="btn">Ikut Lelang</a>
          </div>
        </div>

        <div class="card text-center mt-2" style="width: 18rem;">
          <img src="../foto/produk/produk.jpg" class="card-img-top mt-2" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nama Produk</h5>
            <p class="card-text">Alamat Produk</p>
            <a href="#" class="btn">Ikut Lelang</a>
          </div>
        </div>

        <div class="card text-center mt-2" style="width: 18rem;">
          <img src="../foto/produk/produk.jpg" class="card-img-top mt-2" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nama Produk</h5>
            <p class="card-text">Alamat Produk</p>
            <a href="#" class="btn">Ikut Lelang</a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Produk -->

    <!-- Footer  -->
    <footer class="bg-light p-5 mt-5">
      <div class="container">
        <div class="row mt-2">
          <div class="col-md-6 text-md-start text-center pt-2 pb-2">
            <a href="#" class="text-decoration-none">
              <img src="../foto/logo.png" style="width: 50px;">
            </a>
            <span>Copyright @2021 | Created by MASeKO</span>
          </div>

          <div class="col-md-6 text-md-end text-center pt-2 pb-2">
            <a href="#" class="text-decoration-none ">
              <img src="../foto/sosialmedia/instagram.png" class="ms-2" style="width: 30px;">
            </a>
            <a href="#" class="text-decoration-none">
              <img src="../foto/sosialmedia/twitter.png" class="ms-2" style="width: 30px;">
            </a>
            <a href="#" class="text-decoration-none">
              <img src="../foto/sosialmedia/facebook.png" class="ms-2"  style="width: 32px;">
            </a>
            <a href="#" class="text-decoration-none">
              <img src="../foto/sosialmedia/linkedin.png" class="ms-2" style="width: 30px;">
            </a>
          </div>


        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>