<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/spekproduk.css">
    <link rel="stylesheet" type="text/css" href="../awesome/css/all.min.css">
	<title>Lelang | MASeKO</title>
</head>
<body>
	<!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b7f7d4;">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="../foto/logo.png" alt="" width="50" height="50" class="me-2">
          MASeKO
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <form class="d-flex ms-auto my-4 my-lg-0">
            <input class="form-control me-2" type="search" placeholder="Cari Barang" aria-label="Search">
            <button class="btn" type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </button>
          </form>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Keranjang</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Notifikasi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Bantuan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="register.html">Daftar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login.html">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->

    <!-- Breadcrumb -->
    <div class="container">
    	<nav aria-label="breadcrumb" style="background-color: #fff;" class="mt-2">
		  <ol class="breadcrumb p-3">
		    <li class="breadcrumb-item"><a href="../pages/marketbaru.html" class="text-decoration-none">Market</a></li>
		    <li class="breadcrumb-item"><a href="../pages/marketbaru.html" class="text-decoration-none">Kategori</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Produk</li>
		  </ol>
		</nav>
    </div>
    <!-- End Breadcrumb -->

    <!-- Single Produk -->
    <div class="container">
    	<div class="row row-produk">
    		<div class="col-lg-5">
    			<figure class="figure">
				  <img src="../foto/produk/produk.jpg" class="figure-img img-fluid" alt="Gambar Produk" style="border-radius: 5px; width: 450px;">

				  <figcaption class="figure-caption d-flex justify-content-evenly">
				  	<a href="#">
				  		<img src="../foto/produk/produk.jpg" class="figure-img img-fluid" alt="Gambar Produk" style="border-radius: 5px; width: 70px;">
				  	</a>
				  	<a href="#">
				  		<img src="../foto/produk/produk.jpg" class="figure-img img-fluid" alt="Gambar Produk" style="border-radius: 5px; width: 70px;">
				  	</a>
				  	<a href="#">
				  		<img src="../foto/produk/produk.jpg" class="figure-img img-fluid" alt="Gambar Produk" style="border-radius: 5px; width: 70px;">
				  	</a>
				  	<a href="#">
				  		<img src="../foto/produk/produk.jpg" class="figure-img img-fluid" alt="Gambar Produk" style="border-radius: 5px; width: 70px;">
				  	</a>
				  	<a href="#">
				  		<img src="../foto/produk/produk.jpg" class="figure-img img-fluid" alt="Gambar Produk" style="border-radius: 5px; width: 70px;">
				  	</a>
				  </figcaption>

				</figure>	
    		</div>
    		<div class="col-lg-7">
    			<h4>Nama Barang Lelang</h4>
    			<div class="garis-nama"></div>
		    	<div class="harga" style="background-color: #daf7e2;">
	    			<h3 class="text-muted mb-3 p-2" style="background-color: #faaa5f;">Rp. 600.000</h3>
	    			<div class="ms-2">
		    			<h5>Cara Penawaran</h5>
		    			<p style="font-size: 15px; overflow: auto;">Close Bidding</p>
	    			</div>
            <div class="ms-2">
              <h5>Jaminan</h5>
              <p style="font-size: 15px; overflow: auto;">Rp.500.000</p>
            </div>
            <div class="ms-2">
              <h5>Batas Akhir Jaminan</h5>
              <p style="font-size: 15px; overflow: auto;">20 September 2021</p>
            </div>
            <div class="ms-2">
              <h5>Pelaksanaan Lelang</h5>
              <p style="font-size: 15px; overflow: auto;">15 September 2021 jam 08.00 s/d 24 September 2021 jam 08.00</p>
            </div>
            <div class="ms-2">
              <h5>Penyelenggara</h5>
              <p style="font-size: 15px; overflow: auto;">Petani Teh Bogor</p>
            </div>
	    			<div class="ms-2">
		    			<h5 class="mt-2">Uraian</h5>
		    			<p style="font-size: 15px; overflow: auto;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		    			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		    			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		    			consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	    			</div>
	    			<div class="btn-produk mt-4 ms-2">
	    				<a href="checkout.html" class="btn btn-lg btn-custom my-2">Lelang Sekarang</a>
	    			</div>
    			</div>
    		</div>
    	</div>
    </div>
    <!-- End Single Produk -->

    <!-- Footer  -->
    <footer class="bg-light p-5 mt-5">
      <div class="container">
        <div class="row mt-2">
          <div class="col-md-6 text-md-start text-center pt-2 pb-2">
            <a href="#" class="text-decoration-none">
              <img src="../foto/logo.png" style="width: 50px;">
            </a>
            <span>Copyright @2021 | Created by MASeKO</span>
          </div>

          <div class="col-md-6 text-md-end text-center pt-2 pb-2">
            <a href="#" class="text-decoration-none ">
              <img src="../foto/sosialmedia/instagram.png" class="ms-2" style="width: 30px;">
            </a>  
            <a href="#" class="text-decoration-none">
              <img src="../foto/sosialmedia/twitter.png" class="ms-2" style="width: 30px;">
            </a>
            <a href="#" class="text-decoration-none">
              <img src="../foto/sosialmedia/facebook.png" class="ms-2"  style="width: 32px;">
            </a>
            <a href="#" class="text-decoration-none">
              <img src="../foto/sosialmedia/linkedin.png" class="ms-2" style="width: 30px;">
            </a>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
</body>
</html>