@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
	background-image: url('../foto/webbg.png');
}

body .form-container {
	background-color: #98f573;
}

.navbar {
	font-family: 'Poppins', sans-serif;
}

.form-container {
	position: absolute;
	top: 50%;
	left:50%;
	width: 450px;
	height: 450px;
	transform: translate(-50%, -50%);
	border-radius: 15px; 
	box-shadow: 2px 2px 10px 0px #000;
	padding: 30px; 
}

.form-container button {
	background-color: #b8f2d4;
	font-variant: small-caps;
	color: #006933;
}

.textForm {
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	font-variant: small-caps;
}

.textHead {
	font-family: 'Poppins', sans-serif;
	font-variant: small-caps;
}

.text-hover {
	text-decoration: none;
}

.text-hover:hover {
	text-decoration: none;
	color: black;
	font-weight: 600;
}

.btn {
	border-radius: 15px;
}

.btn a {
	text-decoration: none;
}

.form-control {
	border-radius: 10px;
}

.input-group-text {
	border-radius: 10px;
}